extends layout

block content
  h1= title
  p Welcome to #{title}
  p To See all the Playlist click   
    a(href='/users/') List
  div.text-
    div: form(class="form-signin",method='get', class='form-vertical',action="/users/login")
      fieldset
        legend: strong.text-info Login page

        div.form-group
          label Username:
          input.form-control(name='name',  autofocus)

        div.form-group
          label Password:
          input.form-control(name='pwd', type='password')

        div.form-actions
          input.btn.btn-primary(type='submit', value='Login')
